
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
}

.btn-log-sign {
  background-color: #ff1500;
  color: #ebebeb;
}

.error {
  color: #ff1500;
}

.uts-color {
  color: #ff1500;
}
.city {
  background-size: cover;
  /* background-color: black; */
  background-repeat: no-repeat;
  /* height: 250px; */
  height: 18vw;

  /* max-width: 100%; */
  /* object-fit: cover; */
  /* margin: 1px; */
  border: 5px solid #ebebeb;
}

#Barcelona {
  background-image: linear-gradient(rgba(200, 255, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(.././img/kimpton-barcelona-1700x750-v2.jpeg);
  /* url(.././img/holiday-inn-express-madrid-2533391696-2x1.jpeg); */
}

#New-York {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    url(.././img/GettyImages-1148127304.jpg);
}

#Tokyo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    url(.././img/tokyo.jpg);
}

#Moscow {
  background-image: linear-gradient(rgba(200, 255, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(.././img/moscow.jpg);
}
#Madrid {
  background-image: linear-gradient(rgba(200, 255, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(.././img/holiday-inn-express-madrid-2533391696-2x1.jpeg);
}

#Los-Angeles {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    url(.././img/us_lax_playa_07_2880_1620.jpg);
}

.user-icon {
  width: 70px;
  padding: 0;
  margin-right: 5px;
}

.mag-glass {
  width: 40px;
  margin: 12px;
  vertical-align: middle;
}

.search-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(242, 242, 242);
  float: none;
  width: 55%;
}

.search-container input {
  width: 100%;
  background-color: rgb(242, 242, 242);
  border: none;
  padding: 20px;
}

.logo-search-bar {
  padding: 10px 25px;

  /* justify-content: space-between; */
}

.search-container button {
  color: white;
  background-color: #ebebeb;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  border: none;
  font-weight: 600;
}

.logo-search-bar a {
  color: black;
  /* background-color: black; */
  padding: 10px 28px;
}

.weather-icon {
  height: 10vw;
  margin-top: 10px;
}

.weather-description {
  font-family: Montserrat, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  color: white;
  font-size: 3vw;
  vertical-align: top;
  position: absolute;
  left: 25%;
  font-weight: 600;
  top: 5%;
}

.temperature {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 5vw;
  vertical-align: bottom;
  position: absolute;
  left: 25%;
  top: 25%;
  font-weight: 300;
}

.city-time {
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 4vw;
  vertical-align: bottom;
  float: right;
  position: absolute;
  right: 3%;
  bottom: 30%;
  font-weight: 400;
}

.city-name {
  font-family: Montserrat, sans-serif;
  color: #ff1500;
  /* color: #ff0d0d; */

  font-size: 4.5vw;
  vertical-align: bottom;
  float: right;
  /* padding-bottom: 0px; */
  position: absolute;
  bottom: 0%;
  right: 3%;
  font-weight: 400;
}

.fixed-menu {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  .fixed-menu {
    position: fixed;
    background-color: white;
    bottom: 0px;
    width: 100%;
    /* margin: 0px !important; */
  }

  .city {
    height: 40vw;
    border: 0px;

  }

  .mag-glass {
    width: 7vw;
    margin: 4px;
    vertical-align: middle;
  }

  .logo-search-bar {
    padding: 2px 5px;

    /* justify-content: space-between; */
  }

  .user-icon {
    width: 50px;
    height: 50px;
    margin: 0px;
  }
  .search-container input {
    width: 100%;
    padding: 10px;
  }

  .city-time {
    font-size: 8vw;
    bottom: 25%;
  }

  .city-name {
    font-size: 10vw;
  }
  .temperature {
    font-size: 8vw;
    top: 15%;
  }

  .weather-icon {
    height: 17vw;
  }
  .weather-description {
    font-size: 5vw;
  }
  body {
      margin: 0px;
  }
}


@media (max-width: 640px) {
  .fixed-menu {
    position: fixed;
    background-color: white;
    bottom: 0px;
    /* margin: 0px !important; */
  }

  .city {
    height: 40vw;
    border: 0px;
  }

  .mag-glass {
    width: 7vw;
    margin: 4px;
    vertical-align: middle;
  }

  .logo-search-bar {
    padding: 2px 5px;

    /* justify-content: space-between; */
  }

  .user-icon {
    width: 50px;
    height: 50px;
    margin: 0px;
  }
  .search-container input {
    width: auto;
    padding: 10px;
  }

  .city-time {
    font-size: 8vw;
    bottom: 25%;
  }

  .city-name {
    font-size: 10vw;
  }
  .temperature {
    font-size: 8vw;
    top: 15%;
  }

  .weather-icon {
    height: 17vw;
  }
  .weather-description {
    font-size: 5vw;
  }
  body {
      margin: 0px;
  }
}
