


* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

body{
    margin: 20px;
}


.city {
    background-size: cover;
    /* background-color: black; */
    background-repeat: no-repeat;
    height: 250px;
    /* max-width: 100%; */
    /* object-fit: cover; */
    /* margin: 1px; */
    border: 5px solid white;
}

#Barcelona {
    background-image:linear-gradient(
        rgba(255, 0, 149, 0.45), 
        rgba(255, 230, 0, 0.507)),
    url(.././img/kimpton-barcelona-1700x750-v2.jpeg);
        /* url(.././img/holiday-inn-express-madrid-2533391696-2x1.jpeg); */

}

#New-York {
    background-image:linear-gradient(
        rgba(255, 0, 149, 0.45), 
        rgba(255, 230, 0, 0.507)),
    url(.././img/GettyImages-1148127304.jpg);
}

#Tokyo {
    background-image: url(.././img/iStock-896466722_Als-Schaufensterbild-Tokyo_1600x907.jpg);
    background-position-y: -100px;
}

#Moscow {
    background-image:linear-gradient(
        rgba(255, 0, 149, 0.45), 
        rgba(255, 230, 0, 0.507)),
    url(.././img/moscow.jpg);
}
#Madrid {
    background-image:linear-gradient(
        rgba(255, 0, 149, 0.45), 
        rgba(255, 230, 0, 0.507)),
    url(.././img/holiday-inn-express-madrid-2533391696-2x1.jpeg);
}

#Los-Angeles {
    background-image: url(.././img/us_lax_playa_07_2880_1620.jpg);
}

.user-icon {
    width: 70px;
    padding: 0;
    margin-right: 5px;
    
}

.mag-glass {
    width: 40px;
    margin: 12px;
    vertical-align: middle;
    
}

.search-container {
    display: flex;
    justify-content: space-between; 
    background-color: rgb(242, 242, 242);
    float: none;
    width: 55%;
    
}

.search-container input {
   width: 100%;
   background-color: rgb(242, 242, 242);
   border: none;
   padding: 20px;
}

.logo-search-bar {
   padding: 10px 25px;
   
   /* justify-content: space-between; */
}

.search-container button {
   color: white;
   background-color: #EBEBEB;
   padding-left: 2rem;
   padding-right: 2rem;
   font-family: 'Poppins';
   font-size: 14px;
   border: none;
}

.logo-search-bar a {
  color: black;
  /* background-color: black; */
  padding: 10px 28px;
}


.weather-icon {
    height: 140px;
    margin-top: 10px;
}

.weather-description {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3em;
    vertical-align: top;
    position: absolute;
    left: 25%;
    top: 5%;
}

.temperature {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 4em;
    vertical-align: bottom;
    position: absolute;
    left: 25%;
    top: 25%;
}

.city-time {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 4em;
    vertical-align: bottom;
    float: right;
    position: absolute;
    right: 3%;
    bottom: 30%;
}

.city-name {
    font-family: Arial, Helvetica, sans-serif;
    color: #FF0095;
    font-size: 4.5em;
    vertical-align: bottom;
    float: right;
    /* padding-bottom: 0px; */
    position: absolute;
    bottom: 0%;
    right: 3%;
}

.fixed-menu {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
.fixed-menu {
    position: fixed;
    background-color: white;
    bottom: 0px;
    margin: 0px !important;
    
}

.mag-glass {
    width: 7vw;
    margin: 4px;
    vertical-align: middle;
    
}

.logo-search-bar {
    padding: 2px 5px;
    
    /* justify-content: space-between; */
 }

 .user-icon {
    width: 50px;
    height: 50px;

    
}
.search-container input {
    width: auto;
    padding: 10px;
 }
}

